header {
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}

header ul {
    padding: 0;
    margin: 0 10px 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

header ul li {
    display: flex;
}